<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="#" class="logo">
                <img src="images/logo.png" alt="">
            </a>
            <ul>                                   
                <li><a href="#">Кроссовки</a></li>
                <li><a href="#">Кеды</a></li>
                <li><a href="#">Футболки</a></li>
                <li><a href="#">Шорты</a></li>
                <li><a href="#">Майки</a></li>
                <li><a href="#">Олимпийки</a></li>
                <li><a href="#">Толстовки</a></li>
            </ul>
        </nav>
        <div class="header__content">
            <h1>Nike</h1>
        </div>
    </header>
    <main>
        <div class="main__nike">
            <div class="main__left">
                <img src="images/nike-neoline.jpg" alt="">
                <h2>Кросовки <span>Nike Neoline</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit</p>
            </div>
            <div class="main__right">
                <div class="main__right-item">
                    <img src="images/nike-sport.jpg" alt="">
                    <div class="main__right-info">
                        <h3>Кроссовки Nike Sport</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                    </div>
                </div>
                <div class="main__right-item">
                    <img src="images/nike-summer.jpg" alt="">
                    <div class="main__right-info">
                        <h3>Кроссовки Nike Summer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                    </div>
                </div>
                <div class="main__right-item">
                    <img src="images/nike.jpg" alt="">
                    <div class="main__right-info">
                        <h3>Кроссовки Nike</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                    </div>
                </div>
                <div class="main__right-item">
                    <img src="images/nike-summer.jpg" alt="">
                    <div class="main__right-info">
                        <h3>Кроссовки Nike Cool</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <nav>
            <a href="#" class="logo">
                <img src="images/logo.png" alt="">
            </a>
            <ul>                                   
                <li><a href="#">Кроссовки</a></li>
                <li><a href="#">Кеды</a></li>
                <li><a href="#">Футболки</a></li>
                <li><a href="#">Шорты</a></li>
                <li><a href="#">Майки</a></li>
                <li><a href="#">Олимпийки</a></li>
                <li><a href="#">Толстовки</a></li>
            </ul>
        </nav>
    </footer>
   
</body>

</html>