<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toshkent</title> <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <header class="header">
        <div class="header_content">
        <p class="p">Новый Вкус</p>
        <h1 class="r">Кириешки "Toshkent"</h1></div>
    </header>
    
    <main class="main">
        <div class="main_up">
            <div class="container row">
                <div class="main_left ">
                    <div class="main_left-item1 row">
                        <img src="img/light.jpg" alt="">
                        <div class="main_left-info">
                            <h3>Со вкусом перца </h3>
                              <h3>  Очень острый</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                                <p><a class="a1" href="#">Купить</a></p>
                        </div>
                    </div>

                    <div class="main_left-item row">
                        <img src="img/light.jpg" alt="">
                        <div class="main_left-info">
                            <h3>Со вкусом перца</h3>
                              <h3>  Очень острый</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                                <p><a class="a1" href="#">Купить</a></p>
                        </div>
                    </div>                    
                </div>

                <div class="main_right">
                    <div class="main_right-item1 row">
                        <img src="img/light.jpg" alt="">
                        <div class="main_right-info">
                            <h3>Со вкусом перца</h3>
                               <h3> Очень острый</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                                <p><a class="a1" href="#">Купить</a></p>
                        </div>
                    </div>

                    <div class="main_right-item row">
                        <img src="img/light.jpg" alt="">
                        <div class="main_right-info">
                            <h3>Со вкусом перца</h3>
                              <h3>  Очень острый</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                                <p><a class="a1" href="#">Купить</a></p>
                        </div>
                </div>
            </div>
        </div>
    </div>
        <div class="main_down row">
            <div class="main_down-item1">
                <h3>Article title lorem ipsum dolor set amet.</h3>
                <img src="img/pic1.png" alt="">
                <div class="main_down-info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    </p>
                    <p><a href="#">Подробнее</a></p>
                </div>
            </div>

            <div class="main_down-item2">
                <h3>Article title lorem ipsum dolor set amet.</h3>
                <img src="img/pic2.png" alt="">
                <div class="main_down-info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    </p>
                    <p><a href="#">Подробнее</a></p>
                </div>
            </div>

            <div class="main_down-item3">
                <h3>Article title lorem ipsum dolor set amet.</h3>
                <img src="img/pic3.png" alt="">
                <div class="main_down-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    </p>
                    <p><a href="#">Подробнее</a></p>
                </div>
            </div>

            <div class="main_down-item4">
                <h3>Article title lorem ipsum dolor set amet.</h3>
                <img src="img/pic4.png" alt="">
                <div class="main_down-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    </p>
                    <p><a href="#">Подробнее</a></p>
                </div>
            </div>
        </div>
        <div class="main_under">
            <h3>Торговые представители в регионах</h3>
            <div class="container row">
            <div class="main_ul">
                <a href="#"><p>Торговые представители в Ташкенте</p></a>
                <a href="#"><p>Торговые представители в Самарканде</p></a>
                <a href="#"><p>Торговые представители в Навои</p></a>
                <a href="#"><p>Торговые представители в Бухаре</p></a>
                <a href="#"><p>Торговые представители в Ташкентской области</p></a>
                <a href="#"><p>Торговые представители в Нукусе</p></a>
                <a href="#"><p>Торговые представители в Хорезме</p></a>
            </div>
            <div class="main_ur">
                <a href="#"><p>Торговые представители в Ташкенте</p></a>
                <a href="#"><p>Торговые представители в Самарканде</p></a>
                <a href="#"><p>Торговые представители в Навои</p></a>
                <a href="#"><p>Торговые представители в Бухаре</p></a>
                <a href="#"><p>Торговые представители в Ташкентской области</p></a>
                <a href="#"><p>Торговые представители в Нукусе</p></a>
                <a href="#"><p>Торговые представители в Хорезме</p></a>
            </div>
        </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container row">
            <div class="f_left">
                <p>Кириешки Ташкент </p>
            </div>
            <div class="f_right row">
                <a href="#"><p>Натуральная продукция</p></a>
                <a href="#"><p>Примеры питания</p></a>
                <a href="#"><p>Доставка и оплата</p></a>
                <a href="#"><p>Контакты</p></a>
            </div>
        </div>
    </footer>
</body>
</html>