<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orange Marketing</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="container header__row">
                <a href="#!" class="logo">
                    <img src="images/logo.png" alt="">
                    Orange Marketing
                </a>
                <ul class="row">
                    <li><a href="#" class="header__nav-link">Главная</a></li>
                    <li><a href="#" class="header__nav-link">Статьи</a></li>
                    <li><a href="#" class="header__nav-link">Услуги</a></li>
                    <li><a href="#" class="header__nav-link">Поддержка</a></li>
                    <li><a href="#" class="header__nav-link">Контакты</a></li>
                </ul>
            </div>
        </nav>
        <img src="images/headerbg.jpg" alt="">
    </header>
    <main class="main">
        <div class="container">
            <div class="main__row row">
                <div class="main__item">
                    <h2>Мощная
                        аналитика</h2>
                        <div class="main__img">
                            <img src="images/icon-4.png" alt="">
                        </div>
                        <a href="#" class="btn">Подробнее</a>
                </div>
                <div class="main__item">
                    <h2>Ведение
                        документов</h2>
                        <div class="main__img">
                            <img src="images/icon-3.png" alt="">
                        </div>
                        <a href="#" class="btn">Подробнее</a>
                </div>
                <div class="main__item">
                    <h2>Международные
                        решения</h2>
                        <div class="main__img">
                            <img src="images/icon-2.png" alt="">
                        </div>
                        <a href="#" class="btn">Подробнее</a>
                </div>
                <div class="main__item">
                    <h2>Бизнес
                        стратегии</h2>
                        <div class="main__img">
                            <img src="images/icon.png" alt="">
                        </div>
                        <a href="#" class="btn">Подробнее</a>
                </div>
            </div>
            <div class="main__business row">
                <div class="main__left">
                    <h2>Как разработать стратегию роста бизнеса?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudexercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                    <a href="#" class="btn">Подробнее</a>
                </div>
                <div class="main__right">
                    <h2>Интересное</h2>
                    <div class="main__right-box">
                        <div class="main__right-item row">
                            <img src="images/person1.jpg" alt="">
                            <a href="#">Как произвести оплату через карту Payme?</a>
                        </div>
                        <div class="main__right-item row">
                            <img src="images/person2.jpg" alt="">
                            <a href="#">Зачем повышать конверсию сайта, если он все равно ...</a>
                        </div>
                        <div class="main__right-item row">
                            <img src="images/person3.jpg" alt="">
                            <a href="#">На что влияет CRM система в бизнесе и как ее правильно ...</a>
                        </div>
                        <div class="main__right-item row">
                            <img src="images/person4.jpg" alt="">
                            <a href="#">Что такое KPI и как правильно его отслеживать?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__content row">
                <div class="footer__left">
                    <h3>Консультация бесплатная</h3>
                    <a href="tel:+998909000000" title="Свяжитесь с нами">+998 90 900 00 00</a>
                    <p>Каждый день с 09:00 до 18:00, кроме воскресенья</p>
                </div>
                <div class="footer__right">
                    <h3>Orange Marketing</h3>
                    <p>Лучшие маркетинговые решения</p>
                    <a href="mailto:info@orange-marketing.uz" title="Отправить письмо">info@orange-marketing.uz</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
